In [17]:
import pandas as pd
# import three csv files gnipercapita_ppp_current_international.csv, life_expectancy_years.csv, population_total.csv

gni_per_capita = pd.read_csv('gnipercapita_ppp_current_international.csv')
life_expectancy = pd.read_csv('life_expectancy_years.csv')
population_total = pd.read_csv('population_total.csv')

In [18]:
gni_per_capita

,country,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,23.1k,24.8k,25.4k,26.1k,27.3k,27.4k,27.2k,28.8k,29.4k,...,31k,32k,34.6k,35.4k,35.7k,35.9k,36.8k,NaN,NaN,NaN
1,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1700,1920,2020,2070,2110,2000,2090,2100,2190,2100
2,Angola,2990,3310,1630,1490,1260,2350,2420,2830,2820,...,6130,6810,7130,7680,6960,6730,6860,6550,6370,5900
3,Albania,2550,1880,1740,2110,2300,2700,3050,2780,3110,...,10.2k,10.4k,10.8k,11.4k,11.8k,12.3k,12.8k,13.5k,13.8k,13.2k
4,United Arab Emirates,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,67.7k,69.2k,70.5k,73.7k,65.2k,64.3k,67.7k,68.8k,71.5k,66.7k
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192,Samoa,1690,1680,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5440,5290,5310,5350,5700,6180,6290,6310,6620,6510
193,Yemen,2050,2090,2220,2260,2340,2360,2320,2400,2590,...,3350,3340,3520,NaN,NaN,NaN,NaN,NaN,NaN,NaN
194,South Africa,6830,6890,6750,6840,7060,7270,7560,7750,7740,...,13.1k,12.9k,13.3k,13.3k,13.4k,13.4k,13.5k,13.8k,13.9k,13.1k
195,Zambia,1350,1320,1310,1430,1320,1360,1440,1480,1440,...,3160,3360,3430,3470,3360,3300,3330,3550,3550,3360
196,Zimbabwe,1740,1850,1680,1710,1870,1890,2110,2170,2220,...,2070,2340,2520,2570,2630,2750,3730,3950,3710,3420

In [20]:
gni_per_capita.fillna(method='ffill')
life_expectancy.fillna(method='ffill')
population_total.fillna(method='ffill')

,country,1800,1801,1802,1803,1804,1805,1806,1807,1808,...,2091,2092,2093,2094,2095,2096,2097,2098,2099,2100
0,Afghanistan,3.28M,3.28M,3.28M,3.28M,3.28M,3.28M,3.28M,3.28M,3.28M,...,76.6M,76.4M,76.3M,76.1M,76M,75.8M,75.6M,75.4M,75.2M,74.9M
1,Angola,1.57M,1.57M,1.57M,1.57M,1.57M,1.57M,1.57M,1.57M,1.57M,...,168M,170M,172M,175M,177M,179M,182M,184M,186M,188M
2,Albania,400k,402k,404k,405k,407k,409k,411k,413k,414k,...,1.33M,1.3M,1.27M,1.25M,1.22M,1.19M,1.17M,1.14M,1.11M,1.09M
3,Andorra,2650,2650,2650,2650,2650,2650,2650,2650,2650,...,63k,62.9k,62.9k,62.8k,62.7k,62.7k,62.6k,62.5k,62.5k,62.4k
4,United Arab Emirates,40.2k,40.2k,40.2k,40.2k,40.2k,40.2k,40.2k,40.2k,40.2k,...,12.3M,12.4M,12.5M,12.5M,12.6M,12.7M,12.7M,12.8M,12.8M,12.9M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192,Samoa,47.3k,47.3k,47.3k,47.3k,47.3k,47.3k,47.3k,47.2k,47.2k,...,315k,314k,314k,314k,313k,313k,312k,312k,311k,310k
193,Yemen,2.59M,2.59M,2.59M,2.59M,2.59M,2.59M,2.59M,2.59M,2.59M,...,54.5M,54.4M,54.3M,54.1M,54M,53.8M,53.7M,53.5M,53.4M,53.2M
194,South Africa,1.45M,1.45M,1.46M,1.46M,1.47M,1.47M,1.48M,1.49M,1.49M,...,79.8M,79.8M,79.7M,79.7M,79.6M,79.5M,79.5M,79.4M,79.3M,79.2M
195,Zambia,747k,758k,770k,782k,794k,806k,818k,831k,843k,...,74.4M,75.2M,76M,76.8M,77.6M,78.4M,79.2M,80M,80.8M,81.5M
196,Zimbabwe,1.09M,1.09M,1.09M,1.09M,1.09M,1.09M,1.09M,1.09M,1.09M,...,30.8M,30.9M,30.9M,30.9M,30.9M,30.9M,31M,31M,31M,31M

In [27]:
gni_per_capita_tidy = gni_per_capita.melt(id_vars=['country'], var_name='year', value_name='gni_per_capita')
life_expectancy_tidy = life_expectancy.melt(id_vars=['country'], var_name='year', value_name='life_expectancy')
population_total_tidy = population_total.melt(id_vars=['country'], var_name='year', value_name='population_total')

In [29]:
merged_data = gni_per_capita_tidy.merge(life_expectancy_tidy, on=['country', 'year']).merge(population_total_tidy, on=['country', 'year'])
merged_data = merged_data[['country', 'year', 'gni_per_capita', 'life_expectancy', 'population_total']]

In [30]:
merged_data

,country,year,gni_per_capita,life_expectancy,population_total
0,Afghanistan,1990,NaN,53.8,12.4M
1,Angola,1990,2990,49.7,11.8M
2,Albania,1990,2550,72.8,3.29M
3,United Arab Emirates,1990,NaN,68.7,1.83M
4,Argentina,1990,6880,72.5,32.6M
...,...,...,...,...,...
5823,Samoa,2020,6510,70.5,198k
5824,Yemen,2020,NaN,67.8,29.8M
5825,South Africa,2020,13.1k,64.3,59.3M
5826,Zambia,2020,3360,63.1,18.4M
5827,Zimbabwe,2020,3420,60.7,14.9M

In [33]:
!pip install matplotlib

Collecting matplotlib
  Downloading matplotlib-3.7.1-cp311-cp311-macosx_11_0_arm64.whl (7.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 7.3/7.3 MB 6.2 MB/s eta 0:00:0000:0100:01
Collecting contourpy>=1.0.1
  Downloading contourpy-1.0.7-cp311-cp311-macosx_11_0_arm64.whl (229 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 229.7/229.7 kB 7.7 MB/s eta 0:00:00
Collecting cycler>=0.10
  Downloading cycler-0.11.0-py3-none-any.whl (6.4 kB)
Collecting fonttools>=4.22.0
  Downloading fonttools-4.39.4-py3-none-any.whl (1.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.0/1.0 MB 5.3 MB/s eta 0:00:0000:0100:01
Collecting kiwisolver>=1.0.1
  Downloading kiwisolver-1.4.4-cp311-cp311-macosx_11_0_arm64.whl (63 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 63.1/63.1 kB 7.5 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.20 in /opt/homebrew/lib/python3.11/site-packages (from matplotlib) (1.24.2)
Requirement already satisfied: packaging>=20.0 in /opt/homebrew/lib/python3.11/site-packages (from matplotlib) (23.1)
Requirement already satisfied: pillow>=6.2.0 in /opt/homebrew/lib/python3.11/site-packages (from matplotlib) (9.4.0)
Collecting pyparsing>=2.3.1
  Downloading pyparsing-3.0.9-py3-none-any.whl (98 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 98.3/98.3 kB 5.7 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.7 in /opt/homebrew/lib/python3.11/site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: six>=1.5 in /opt/homebrew/lib/python3.11/site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Installing collected packages: pyparsing, kiwisolver, fonttools, cycler, contourpy, matplotlib
Successfully installed contourpy-1.0.7 cycler-0.11.0 fonttools-4.39.4 kiwisolver-1.4.4 matplotlib-3.7.1 pyparsing-3.0.9

[notice] A new release of pip is available: 23.0.1 -> 23.1.2
[notice] To update, run: python3.11 -m pip install --upgrade pip

In [36]:
import streamlit as st
import matplotlib.pyplot as plt

# Plotting GNI per capita
plt.figure(figsize=(10, 6))
for country in merged_data['country'].unique():
    data = merged_data[merged_data['country'] == country]
    plt.plot(data['year'], data['gni_per_capita'], label=country)
plt.xlabel('Year')
plt.ylabel('GNI per capita')
plt.title('GNI per Capita by Country')
plt.legend()
st.pyplot(plt)

# Plotting life expectancy
plt.figure(figsize=(10, 6))
for country in merged_data['country'].unique():
    data = merged_data[merged_data['country'] == country]
    plt.plot(data['year'], data['life_expectancy'], label=country)
plt.xlabel('Year')
plt.ylabel('Life Expectancy')
plt.title('Life Expectancy by Country')
plt.legend()
st.pyplot(plt)

# Plotting population
plt.figure(figsize=(10, 6))
for country in merged_data['country'].unique():
    data = merged_data[merged_data['country'] == country]
    plt.plot(data['year'], data['population_total'], label=country)
plt.xlabel('Year')
plt.ylabel('Population')
plt.title('Population by Country')
plt.legend()
st.pyplot(plt)

ModuleNotFoundError: No module named 'streamlit'